<header>
    <div class="container">
        <h1>Pet Shop</h1>
        <nav>
            <ul>
                <li><a href="../home">Home</a></li>
                <li><a href="../products">Shop</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="../authentication/login.html" class="login-button">Login</a></li>
            </ul>
        </nav>
    </div>
</header>
