<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Shop - Products</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="/public/stylesheets/products.css">
</head>
<body>

    <!-- Placeholder for Header -->
    <div id="header-placeholder"></div>

    <!-- Main Content - Product List -->
    <section class="products">
        <div class="container">
            <div class="page-title">
                <h2>Our Products</h2>
            </div>
            

            <!-- Search Bar Section -->
            <div class="search-bar-container">
                <div class="search-input-container">
                    <input type="text" id="search-input" maxlength="40" placeholder="Search for products..." oninput="searchProducts()">
                    <div id="search-dropdown" class="dropdown-box">
                        <ul id="dropdown-list">
                            
                        </ul>
                    </div>
                </div>
                <button id="search-btn" onclick="filterProducts()">Search</button>
            </div>

            <!-- Product List Section -->
            <div class="product-list" id="product-list"></div>
        </div>
    </section>

    <!-- Placeholder for Footer -->
    <div id="footer-placeholder"></div>

    <script src="/public/javascripts/layout.js"></script>
    <script src="/public/javascripts/products.js"></script>
</body>
</html>
